.jetmenu .indicator {
  visibility: hidden;
}
#title {
  margin: -5px 5px 13px -10px;
}
#title img {
  max-width: 120px;
}

.site-header {
  padding-bottom: 10px;
}
.custom-content-white {
  color: white;
}
.box-info-item {
  margin: 5px 0px;
}
.box-info-item a {
  color: white;
}
.box-info-item a:hover {
  text-decoration: underline;
}
.googleLogin span.icon {
  background: url('../images/social-connect.png') no-repeat -255px 0;
  display: inline-block;
  width: 127px;
  height: 34px;
  cursor: pointer;
}

.fbLogin span.icon {
  background: url('../images/social-connect.png') no-repeat top left;
  display: inline-block;
  width: 127px;
  height: 34px;
  cursor: pointer;
}
.fbLogin span.icon:hover {
 padding-top: 1px;
}
.googleLogin span.icon:hover {
  padding-top: 1px;
}

.socialSection {
  width: 355px;
  display: inline-block;
  margin: 10px 0;
}

.socialLogin {
  text-align: justify;
  list-style: none;
}

span.socialText {
  padding: 10px 0;
}

.wrapperSocialLogin {
  margin-top: 50px;
}
.wrapper-test-content {
  padding: 20px 0;
}
@media (max-width: 768px) {
  .wrapper-test-content .index-question-block {
    position: relative;
    margin-bottom: 20px;
    max-height: 150px;
  }
}
@media (min-width: 768px) {
  .wrapper-test-content .index-question-block {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 200px;
    z-index: 9999;
    max-height: 300px;
  }
}
.wrapper-test-content .index-question-block {
  border: 1px solid #43609C;
  background: white;
  overflow-y: scroll;
}
.wrapper-test-content .index-question-block .timer-block {
  font-size: 20px;
  padding: 5px 0 0 5px !important;
}
.wrapper-test-content .index-question-block .timer-block .hours {
  float: left;
}
.wrapper-test-content .index-question-block .timer-block .minutes {
  float: left;
}
.wrapper-test-content .index-question-block .timer-block .seconds {
  float: left;
}
.wrapper-test-content .index-question-block .timer-block .clearDiv {
  clear: both;
}
.wrapper-test-content .index-question-block ul {
  margin: 0 !important;
  padding: 5px 0 0 5px !important;
  zoom: 1 !important;
  border: 0 !important;
}
.wrapper-test-content .index-question-block ul li {
  float: left !important;
  margin: 0 5px 5px 0 !important;
  border: 1px solid #cfcfcf;
  padding: 5px 0 5px 0 !important;
  width: 30px !important;
  text-align: center !important;
  background-color: white;
  cursor: pointer !important;
  list-style-type: none !important;
  background-image: none ! important;
}
.wrapper-test-content .audio-block {
  display: table;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}
.wrapper-test-content .question-block {
  margin-top: 10px; 
}
.wrapper-test-content .question-block .title {
  font-size: 14px;
  color: #3C599B;
  border: 1px solid #3C599B;
  padding: 3px;
  margin: 5px 0;
  display: inline-block;
}
.wrapper-test-content .part-block{
  font-size: 14px;
  border-top: 1px solid gray;
  font-weight: bold;
  padding-top: 10px;
}
.wrapper-test-content .topic-block{
  font-size: 14px;
  border: 1px solid #C1C1C1;
  padding: 0 10px;
}
.wrapper-test-content .question-block img {
  width: 100%;
}
.wrapper-test-content .question-block .question-content-block {
  font-size: 14px;
}
.wrapper-test-content .question-block .answer-block {
  margin-top: 20px;
}
.wrapper-test-content .question-block .answer-block .control {
  font-size: 14px;
  position: relative;
  display: table;
  margin-bottom: 15px;
  padding-left: 30px;
  cursor: pointer;
  font-weight: normal;
}
.wrapper-test-content .question-block .answer-block .control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.wrapper-test-content .question-block .answer-block .control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background: #C1C1C1;
}
.wrapper-test-content .question-block .answer-block .control--radio .control__indicator {
  border-radius: 50%;
}
.wrapper-test-content .question-block .answer-block .control:hover input ~ .control__indicator,
.wrapper-test-content .question-block .answer-block .control input:focus ~ .control__indicator {
  background: #AFAFAF;
}
.wrapper-test-content .question-block .answer-block .control input:checked ~ .control__indicator {
  background: #43609C;
}
.wrapper-test-content .question-block .answer-block .control:hover input:not([disabled]):checked ~ .control__indicator,
.wrapper-test-content .question-block .answer-block .control input:checked:focus ~ .control__indicator {
  background: #43609C;
}
.wrapper-test-content .question-block .answer-block .control input:disabled ~ .control__indicator {
  pointer-events: none;
  opacity: .6;
  background: #e6e6e6;
}
.wrapper-test-content .question-block .answer-block .control__indicator:after {
  position: absolute;
  display: none;
  content: '';
}
.wrapper-test-content .question-block .answer-block .control input:checked ~ .control__indicator:after {
  display: block;
}
.wrapper-test-content .question-block .answer-block .control--checkbox .control__indicator:after {
  top: 4px;
  left: 8px;
  width: 3px;
  height: 8px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  border: solid #fff;
  border-width: 0 2px 2px 0;
}
.wrapper-test-content .question-block .answer-block .control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.wrapper-test-content .question-block .answer-block .control--radio .control__indicator:after {
  top: 7px;
  left: 7px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}
.wrapper-test-content .question-block .answer-block .control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}

.course_list_wrapper {
  margin-left: 100px;
}

.parent {
  display: -webkit-flex; /* Safari */
  display: flex;
  width: 100%;
  height: 80px;
  margin: 20px 0 0 0;
}

#free_test {
  background: #C0504D;
}

.narrow {
  display: flex;
  flex-direction: column;
  -webkit-flex: 5;  /* Safari 6.1+ */
  -ms-flex: 5;  /* IE 10 */    
  flex: 5;
  background: #3B5998;
  justify-content: center;
  padding: 0 15px;
  /* Just so it's visible */
}
.parent p {
  color: white;
  margin: 0;
}
.parent a span {
  color: #FFC000;
}

.parent:hover {
  opacity: 0.9;
  transition: 0.15s;
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}

.wide {
  display: flex;
  justify-content: center;
  flex-direction: column;
  -webkit-flex: 1;  /* Safari 6.1+ */
  -ms-flex: 1;  /* IE 10 */    
  flex: 1;
  background: #31849B;
  text-align: center;
  font-weight: bold;
  transition: font-size .7s;  
}
.wide:hover{
  font-size: 18px;
  opacity: 0.8;
  transition: 0.15s;
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}

.form-send-info {
    float: right;
}

#contact-form-title {
    margin: 20px 0;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    line-height: 20px;
    font-weight: bold;
}
#contact-form-title > span.title{
  color:  #3C599B;
}
.btn-submit-guest{
  width: 100px;
}
body {
  background: white;
}

.login-section {
  border: solid 1px;
  padding: 5px 20px 5px 20px;
  background: #3C599B;
  margin: 0px 35px 10px 0;
}

.login-section a {
  color: white;
  text-transform: uppercase;
  font-size: 15px;
}
.logged-section {
  color : #3C599B;
  margin: 20px 45px 0 0;
  list-style-type: none;
}

.logged-section a{
   font-size: 15px;
   color : red;
 }

.logged-section li{
  text-align: right;
}

#logo {
  display: flex;
  flex-direction: row;
}

#center-name {
  font-size: 25px;
  color: #3C599B;
  margin-top: 5px;
  font-weight: bold;
  line-height: 15px;
}

.error-message-label{
  color: red;
}

.modal-window .modal-content{
  width: 420px;
  margin-left: auto;
  margin-right: auto;
}

.jetmenu > li > a{
  color: #3C599B;
  font-size: 16px;
  font-weight: bold;
  padding: 18px 10px;
}
.jetmenu ul.dropdown li > a{
  color: #3C599B;
  font-size: 14px;
  font-weight: bold;
}
.wrapper-intro-test {
  border: 1px solid #ededed;
}
@media (max-width: 768px) {
  .wrapper-intro-test{
    margin: 20px 0px;
  } 
}
@media (min-width: 768px) {
  .wrapper-intro-test{
    margin: 20px 60px;
  } 
}
@media (min-width: 1200px) {
  .wrapper-intro-test{
    margin: 20px 120px;
  } 
}
.wrapper-intro-test .title-block{
    background: #43609C;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.wrapper-intro-test .intro-content-block{
  margin: 30px;
}
.wrapper-intro-test .intro-content-block p.content{
  font-size: 15px;
  text-align: justify;
  line-height: 150%;
}
.wrapper-intro-test .intro-content-block p.note{
   font-size: 15px;
   text-align: center;
    line-height: 150%;
    color: #C42D00;
}

.wrapper-intro-test .intro-content-block input{
    margin: auto;
    width: 100px;
    display: block;
    font-size: 18px;
}

.wrapper-result-block #result-modal p{
  font-size: 18px;
}

.wrapper-result-block #result-modal p label{
    color: #fff;
    background-color: #cc3300;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 7px;
    margin-left: 5px;
    font-size: 24px;
}
.jetmenu ul.dropdown li > a:hover{
    color: #FFC000;
}

.fanpage {
    text-align: right;  }

.fanpage a:hover {
    color: #FFC000;
}


 /*Jet Menu*/
.jetmenu a {
    transition: 0.1ms;
}

.topic-block pre {
    border: none;
    word-break: normal ;
}

.guest-exam-form{
  margin: 30px;
}