.course-wrapper {
    width: 420px;
    height: 620px;
    overflow: hidden;
    border: solid 1px #00a4d1;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    background: #DCE6F2;
}

.course-name {
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    background: #4F81BD;
    color: white;
    padding: 5px 10px;
}

.course-title   {
    background: #215968;
    padding: 5px 10px;
    color: white;
}

.course-guild ul {
    background: #A6A6A6;
    color: black;
    font-weight: 400;
}

.cancelButton {
    margin: -30px 10px 0 0;
    padding-right: 0;
    border: none;
}