<div class="container">
    <div class="wrapper-test-content">
        <div class="index-question-block">
            <div class="timer-block">
                <div data-minutes-left="30" class="timer"></div>
            </div>
            <ul>
                <li ng-repeat="data in vm.examinationData" ng-if="data.MySelf == 'question'" data-question-target="{{$index}}">{{data.question.question_title}}</li>
            </ul>
        </div>
        <div class="audio-block">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/YBQ-irnWrmY" frameborder="0" allowfullscreen=""></iframe>
        </div>
        <div class="container">
            <div class="col-lg-3 col-md-3 col-sm-12"></div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <form id="entry-test-frm" action="#" name="entrytestfrm" method="post">
              <div ng-repeat="data in vm.examinationData">
                  <div ng-if = "data.MySelf == 'part'" class="part-block">{{data.partTbl.part_title}}{{data.partTbl.part_content}}</div>
                  <div ng-if = "data.MySelf == 'topic'" class="topic-block">
                     <p>{{data.TopicTbl.topic_title}}</p>
                     <p>{{data.TopicTbl.topic_content}}</p>
                  </div>
                  <div id="q{{$index}}" class="question-block" ng-if = "data.MySelf == 'question'">
                      <div class="title">Câu {{data.question.question_title}}</div>
                      <img ng-if ="data.resource_link.length > 0" ng-src="{{data.resource_link[0].url}}">
                      <div class="question-content-block">{{data.question.question_content}}</div>
                      <div class="answer-block">
                          <div class="control-group">
                                <label ng-repeat="answer in data.answers" class="control control&#45;&#45;radio">
                                    <input type="radio" name="a{{answer.answer.question_id}}" value="{{answer.answer.answer_title}}"> {{answer.answer.answer_title}}. {{answer.answer.answer_content}}
                                    <div class="control__indicator"></div>
                                </label>
                          </div>
                      </div>
                  </div>
              </div>
                
                    <hr>
                    <div class="pull-right">
                        <input type="submit" value="Nộp bài" class="btn btn-primary large">
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12"></div>
        </div>
    </div>
</div>

<script>
    $('#entry-test-frm').on('submit', function() {
        var emptyCount = 0;
        var indexQuestions = $('.index-question-block').find('li');
        debugger;
        $('.question-block').each(function() {
            var found = false;
            var idAttr = $(this).attr('id');
            var id = idAttr.split('q').length > 1 ? idAttr.split('q')[1] : '';
            $(this).find('input[type=radio]').each(function() {
                if ($(this).prop('checked')) {
                    found = true;
                    return;
                }
            });
            if (!found) {
                emptyCount++;
                if (!isNaN(parseInt(id))) {
                    indexQuestions.filter(function () {
                        if ($(this).data('question-target') == id) {
                            $(this).css({ 'background': '#FDB53F' });
                        }
                    });
                }
            }
        });
        if (emptyCount > 0) {           
            return false;
        }
        return true;
    });
</script>