<!--<section class="section-slider">
  <div class="custom-flexsider flexslider">
    <ul class="slides">
      <li><img src="images/slider/01.jpg" alt=""></li>
      <li><img src="images/slider/02.jpg" alt=""></li>
      <li><img src="images/slider/03.jpg" alt=""></li>
    </ul>
  </div>
</section>-->
<div class="course_list_wrapper col-lg-3 col-md-3 col-sm-12" >
  <div class="parent" >
    <div class="wide" id="free_test">
      <a href="#/test"><p>FREE TEST</p></a>
    </div>
    <div class="narrow">
      <p>Sau khi hoàn thành bài kiểm tra đánh giá khả năng hiện tại của bạn.
        SEE ENGLISH sẽ trực tiếp hỗ trợ bạn phân tích và đánh giá miễn phí để cải thiện nó. <a href="#" onclick="event.preventDefault();" ng-click="vm.showCourseDetail('popup/popup_free_test.html', 'PopupController');"><span>XEM CHI TIẾT→</span></a></p>
    </div>
  </div>
  <div class="parent">
    <div class="wide">
      <p>TOEIC</p>
      <p>0 → 450+</p>
    </div>
    <div class="narrow">
      <p>Dành cho học viên mất căn bản hoàn toàn về ngữ pháp và từ vựng. <a href="#" onclick="event.preventDefault();" ng-click="vm.showCourseDetail('popup/popup_450.html', 'PopupController');"><span>XEM CHI TIẾT→</span></a></p>
    </div>
  </div>
  <div class="parent">
    <div class="wide">
      <p>TOEIC</p>
      <p>400 → 700+</p>
    </div>
    <div class="narrow">
      <p>Dành cho học viên có điểm Toeic 250+, đã từng học anh văn và có kiến thức cơ bản nhưng không sử dụng tiếng Anh trong một thời gian dài. <a href="#" onclick="event.preventDefault();" ng-click="vm.showCourseDetail('popup/popup_700.html', 'PopupController');"><span>XEM CHI TIẾT→</span></a></p>
    </div>
  </div>
  <div class="parent">
    <div class="wide">
      <p>TOEIC</p>
      <p>800+</p>
    </div>
    <div class="narrow">
      <p>Dành cho học viên có điểm Toeic cao. Mục tiêu tiếp theo là đạt điểm tuyệt đối Toeic. <a href="#" onclick="event.preventDefault();" ng-click="vm.showCourseDetail('popup/popup_800.html', 'PopupController');"><span>XEM CHI TIẾT→</span></a></p>
    </div>
  </div>
  <div class="parent">
    <div class="wide">
      <p>TOEIC</p>
      <p>S & W</p>
    </div>
    <div class="narrow">
      <p>TOEIC SPEAKING & WRITING <br>
        Dành cho học viên đã có kiến thức cơ bản và muốn chinh phục 4 kĩ năng “nghe, nói, đọc, viết” và giao tiếp lưu loát trong môi trường công sở. <a href="#" onclick="event.preventDefault();" ng-click="vm.showCourseDetail('popup/popup.html', 'PopupController');"><span>XEM CHI TIẾT→</span></a></p>
    </div>
  </div>
</div>
<div class="container">
  <div class="general_wrapper clearfix">
    <div class="col-lg-3 col-md-3 col-sm-12"> </div>
    <div class="col-lg-4 col-md-9 col-sm-12" style="float: right">
      <form id="form-send-info" name="contactform" ng-submit="vm.sendContact();">
        <div class="col-lg-12 col-md-9 col-sm-12 col-xs-12">
          <label id="contact-font"><b>Gửi thông tin để nhận các tài liệu tiếng Anh và được SEE ENGLISH tư vấn miễn phí</b></label>
          <div class="form-group">
            <input id="name" type="text" name="name" placeholder="Tên" class="form-control" ng-model="vm.contact.name">
          </div>
          <div class="form-group">
            <input id="phone" type="text" name="phone" placeholder="Số điện thoại" class="form-control" ng-model="vm.contact.phoneNumber">
          </div>
          <div class="form-group">
            <input id="email" type="email" name="email" placeholder="Email" class="form-control" ng-model="vm.contact.email">
          </div>
          <div class="form-group">
            <label class="radio-inline"><input type="radio" name="career" ng-model="vm.contact.career" ng-value="'Học sinh'">Học sinh</label>
            <label class="radio-inline"><input type="radio" name="career" ng-model="vm.contact.career" ng-value="'Sinh viên'">Sinh viên</label>
            <label class="radio-inline"><input type="radio" name="career" ng-model="vm.contact.career" ng-value="'Đi làm'">Đi làm</label>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <!--<div class="form-group">
            <input id="phone" type="text" name="phone" placeholder="Số điện thoại" class="form-control" ng-model="vm.contact.phoneNumber">
          </div>
          <div class="form-group">
            <input id="email" type="email" name="email" placeholder="Email" class="form-control" ng-model="vm.contact.email">
          </div>-->
        </div>
        <div class="clearfix"></div>
        <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <textarea id="comments" name="comments" rows="6" placeholder="Lời nhắn ..." class="form-control" ng-model="vm.contact.message"></textarea>
          </div>
        </div>-->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="pull-right">
            <div class="form-group">
              <input id="submit" type="submit" value="GỬI" class="btn btn-primary small">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div ng-include ng-hide="true" src="'popup/popup.html'"></div>
<script>
  $('#form-send-info').formValidation({
      framework: 'bootstrap',
      fields: {
        name: {
          validators: {
            notEmpty: {
              message: 'Không được bỏ trống'
            },
            stringLength: {
              min: 2,
              message: 'The name must be more than 2 characters long'
            }
          }
        },
        email: {
          validators: {
            notEmpty: {
              message: 'Không được bỏ trống'
            },
            emailAddress: {
              message: 'Email có dạng: abc@gmail.com'
            }
          }
        },
        comments: {
          validators: {
            notEmpty: {
              message: 'Không được bỏ trống'
            },
            stringLength: {
              min: 6,
              message: 'The comment must be more than 6 characters long'
            }
          }
        },
        phone: {
          validators: {
            notEmpty: {
              message: 'Không được bỏ trống'
            },
            regexp: {
              regexp: /^(?:(?:\(?(?:00|\+)([1-4]\d\d|[1-9]\d?)\)?)?[\-\.\ \\\/]?)?((?:\(?\d{1,}\)?[\-\.\ \\\/]?){0,})(?:[\-\.\ \\\/]?(?:#|ext\.?|extension|x)[\-\.\ \\\/]?(\d+))?$/i,
              message: 'Nhập dạng số. Ví dụ :  0977783920'
            }
          }
        },
        career: {
          validators: {
            notEmpty: {
              message: 'Chọn công việc hiện tại'
            }
          }
        }
      }
    });
  </script>