<section class="section-slider">
  <div class="custom-flexsider flexslider">
    <ul class="slides">
      <li><img src="images/slider/01.jpg" alt=""></li>
      <li><img src="images/slider/02.jpg" alt=""></li>
      <li><img src="images/slider/03.jpg" alt=""></li>
    </ul>
  </div>
</section>
<div class="container">
  <div class="general_wrapper clearfix">
    <div class="col-lg-3 col-md-3 col-sm-12"> </div>
    <div class="col-lg-9 col-md-9 col-sm-12">
      <form id="form-send-info" name="contactform" ng-submit="vm.sendContact();">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="form-group">
            <input id="name" type="text" name="name" placeholder="Tên" class="form-control" ng-model="vm.contact.name">
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="form-group">
            <input id="phone" type="text" name="phone" placeholder="Số điện thoại" class="form-control" ng-model="vm.contact.phoneNumber">
          </div>
          <div class="form-group">
            <input id="email" type="email" name="email" placeholder="Email" class="form-control" ng-model="vm.contact.email">
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <textarea id="comments" name="comments" rows="6" placeholder="Lời nhắn ..." class="form-control" ng-model="vm.contact.message"></textarea>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="pull-right">
            <div class="form-group">
              <input id="submit" type="submit" value="GỬI" class="btn btn-primary small">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  $('#form-send-info').formValidation({
      framework: 'bootstrap',
      fields: {
        name: {
          validators: {
            notEmpty: {
              message: 'The name is required'
            },
            stringLength: {
              min: 2,
              message: 'The name must be more than 2 characters long'
            }
          }
        },
        email: {
          validators: {
            notEmpty: {
              message: 'The email address is required'
            },
            emailAddress: {
              message: 'The input is not a valid email address'
            }
          }
        },
        comments: {
          validators: {
            notEmpty: {
              message: 'The comment is required'
            },
            stringLength: {
              min: 6,
              message: 'The comment must be more than 6 characters long'
            }
          }
        },
        phone: {
          validators: {
            notEmpty: {
              message: 'The phone number is required'
            },
            regexp: {
              regexp: /^(?:(?:\(?(?:00|\+)([1-4]\d\d|[1-9]\d?)\)?)?[\-\.\ \\\/]?)?((?:\(?\d{1,}\)?[\-\.\ \\\/]?){0,})(?:[\-\.\ \\\/]?(?:#|ext\.?|extension|x)[\-\.\ \\\/]?(\d+))?$/i,
              message: 'The input is not a valid phone number'
            }
          }
        }
      }
    });
  </script>