<section class="section-slider">
  <div class="custom-flexsider flexslider">
    <ul class="slides">
      <li><img src="images/slider/01.jpg" alt=""></li>
      <li><img src="images/slider/02.jpg" alt=""></li>
      <li><img src="images/slider/03.jpg" alt=""></li>
    </ul>
  </div>
</section>  
<div class="container">
  <div class="general_wrapper clearfix">
    <div class="col-lg-3 col-md-3 col-sm-12"> </div>
    <div class="col-lg-9 col-md-9 col-sm-12">
      <form name="contactform" ng-submit="vm.sendContact();">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <input id="name" type="text" name="name" placeholder="Tên" class="form-control" ng-model="vm.contact.name">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <input id="phone" type="text" name="phone" placeholder="Số điện thoại" class="form-control" ng-model="vm.contact.phoneNumber">
          <input id="email" type="text" name="email" placeholder="Email" class="form-control" ng-model="vm.contact.email">
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <textarea id="comments" name="comments" rows="6" placeholder="Lời nhắn ..." class="form-control" ng-model="vm.contact.message"></textarea>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="pull-right">
            <input id="submit" type="submit" value="GỬI" class="btn btn-primary small">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
