<div id="loginmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <div class="widget-title"></div>
      </div>
      <div class="modal-body">
        <div class="tabbable">
          <!-- Only required for left/right tabs-->
          <ul class="nav nav-tabs">
            <li class="active"><a onclick="event.preventDefault();" href="#logintab" data-toggle="tab">Đăng Nhập</a></li>
            <li><a onclick="event.preventDefault();" href="#registertab" data-toggle="tab">Đăng ký</a></li>
          </ul>
          <div class="tab-content" ng-controller="LoginController as vm">
            <div id="logintab" class="tab-pane active">
              <form id="loginform" name="loginform" ng-submit="loginform.$valid && vm.login()" novalidate>
                <div class="form-group">
                  <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input type="email" name="email" placeholder="Email*" class="form-control" ng-model="vm.username" required>

                  </div>
                  <div ng-if="vm.isLogginSubmit" class="error-message-label">
                    <div ng-show="loginform.email.$error.required">Vui lòng nhập địa chỉ Email!</div>
                    <div ng-show="loginform.email.$error.email">Địa chỉ Email không hợp lệ</div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group"><span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" name="password" placeholder="Mật khẩu*" class="form-control" ng-model="vm.password" required>

                  </div>
                  <div ng-if="vm.isLogginSubmit && !vm.isValidAccount" class="error-message-label">
                    <div ng-show="loginform.password.$error.required">Vui lòng nhập mật khẩu!</div>
                  </div>
                  <div class="error-message-label">
                    <div ng-show="vm.isValidAccount">Sai username hoặc password !</div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="checkbox">
                    <label><input type="checkbox" ng-model="vm.saveCookie"/> Ghi nhớ</label>
                  </div>
                </div>
                <div class="form-group">
                  <button type="submit" ng-click="vm.isLogginSubmit=true" class="btn btn-primary">Đăng nhập</button>
                </div>
                <div class="wrapperSocialLogin">
                  <span class="socialText"><b>Hoặc sử dụng các tài khoản sẵn có dưới đây để đăng nhập:</b></span>
                  <div class="socialLogin">
                    <div class="googleLogin">
                      <span class="icon" id="customBtn"></span>
                    </div>
                    <div class="fbLogin">
                      <span class="icon" ng-click="vm.fbLogin();"></span>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div id="registertab" class="tab-pane">
              <form id="registerform" name="registerform" ng-submit="registerform.$valid && vm.register()" novalidate>
                <div class="form-group">
                  <input type="text" placeholder="Tên*" name="firstname" class="form-control" ng-model="vm.user.firstName" required>
                  <div ng-if="vm.isRegSubmit" class="error-message-label">
                    <div ng-show="registerform.firstname.$error.required">Vui lòng nhập Tên!</div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" placeholder="Họ*" name="lastname" class="form-control" ng-model="vm.user.lastName" required>
                  <div ng-if="vm.isRegSubmit" class="error-message-label">
                    <div ng-show="registerform.lastname.$error.required">Vui lòng nhập Họ!</div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="email" placeholder="Email*" name="email" class="form-control" ng-model="vm.user.email" required>
                  <div ng-if="vm.isRegSubmit" class="error-message-label">
                    <div ng-show="registerform.email.$error.required">Vui lòng nhập địa chỉ Email!</div>
                    <div ng-show="registerform.email.$error.email">Địa chỉ Email không hợp lệ</div>
                    <div ng-show="vm.existedEmail">Địa chỉ Email đã tồn tại !</div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="password" placeholder="Mật khẩu*" name="password" class="form-control" ng-model="vm.user.password" required>
                  <div ng-if="vm.isRegSubmit" class="error-message-label">
                    <div ng-show="registerform.password.$error.required">Vui lòng nhập mật khẩu!</div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="password" placeholder="Nhập lại mật khẩu*" name="confirmpassword" class="form-control" ng-model="vm.user.repeatPassword" required data-password-verify="vm.user.password">
                  <div ng-if="vm.isRegSubmit" class="error-message-label">
                    <div ng-show="registerform.confirmpassword.$error.required">Vui lòng xác nhận lại mật khẩu!</div>
                    <div ng-show="registerform.confirmpassword.$error.passwordVerify">Xác nhận mật khẩu không đúng</div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="submit" ng-click="vm.isRegSubmit = true" value="Đăng ký" class="btn btn-primary">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>