<div id="loginmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <div class="widget-title"></div>
      </div>
      <div class="modal-body">
        <div class="tabbable">
          <!-- Only required for left/right tabs-->
          <ul class="nav nav-tabs">
            <li class="active"><a onclick="event.preventDefault();" href="#logintab" data-toggle="tab">Đăng Nhập</a></li>
            <li><a onclick="event.preventDefault();" href="#registertab" data-toggle="tab">Đăng ký</a></li>
          </ul>
          <div class="tab-content" ng-controller="LoginController as vm">
            <div id="logintab" class="tab-pane active">
              <form id="loginform" name="loginform" ng-submit="vm.login();">
                <div class="form-group">
                  <div class="input-group"><span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="email" name="email" placeholder="Email" class="form-control" ng-model="vm.username">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group"><span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" name="password" placeholder="Mật khẩu" class="form-control" ng-model="vm.password">
                  </div>
                </div>
                <div class="form-group">
                  <div class="checkbox">
                    <label><input type="checkbox" ng-model="vm.saveCookie"/> Ghi nhớ</label>
                  </div>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary">Đăng nhập</button>
                </div>
                <div class="wrapperSocialLogin">
                  <span class="socialText"><b>Hoặc sử dụng các tài khoản sẵn có dưới đây để đăng nhập:</b></span>
                  <div class="socialLogin">
                    <div class="googleLogin">
                      <span class="icon" id="customBtn"></span>
                    </div>
                    <div class="fbLogin">
                      <span class="icon" ng-click="vm.fbLogin();"></span>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div id="registertab" class="tab-pane">
              <form id="registerform" name="registerform" ng-submit="vm.register();">
                <div class="form-group">
                  <input type="text" placeholder="Tên" name="firstname" class="form-control" ng-model="vm.user.firstName">
                </div>
                <div class="form-group">
                  <input type="text" placeholder="Họ" name="lastname" class="form-control" ng-model="vm.user.lastName">
                </div>
                <div class="form-group">
                  <input type="email" placeholder="Email" name="email" class="form-control" ng-model="vm.user.email">
                </div>
                <div class="form-group">
                  <input type="password" placeholder="Mật khẩu" name="password" class="form-control" ng-model="vm.user.password">
                </div>
                <div class="form-group">
                  <input type="text" placeholder="Nhập lại mật khẩu" name="confirmpassword" class="form-control" ng-model="vm.user.repeatPassword">
                </div>
                <div class="form-group">
                  <input type="submit" value="Đăng ký" class="btn btn-primary">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
<script>
  $(function(){ 
    
    $('#loginform').formValidation({ 
      framework: 'bootstrap', 
      fields: { 
        email: { 
          validators: { 
            notEmpty: { 
              message: 'The email address is required' 
            }, 
            emailAddress: { 
              message: 'The input is not a valid email address' 
            } 
          } 
        }, 
        password: {
          validators: { 
            notEmpty: { 
              message: 'The password is required' 
            } 
          } 
        } 
      } 
    }); 
  
    $('#registerform').formValidation({
      framework: 'bootstrap',
      fields: {
        firstname: {
          validators: {
            notEmpty: {
              message: 'The firstname is required'
            },
            stringLength: {
              min: 2,
              message: 'The firstname must be more than 2 characters long'
            }
          }
        },
        lastname: {
          validators: {
            notEmpty: {
              message: 'The lastname is required'
            },
            stringLength: {
              min: 2,
              message: 'The lastname must be more than 2 characters long'
            }
          }
        },
        email: {
          validators: {
            notEmpty: {
              message: 'The email address is required'
            },
            emailAddress: {
              message: 'The input is not a valid email address'
            }
          }
        },
        password: {
          validators: {
            notEmpty: {
              message: 'The password is required'
            },
            identical: {
              field: 'confirmpassword',
              message: 'The password and its confirm are not the same'
            }
          }
        },
        confirmpassword: {
          validators: {
            notEmpty: {
              message: 'The password is required'
            },
            identical: {
              field: 'password',
              message: 'The password and its confirm are not the same'
            }
          }
        }
      }
    });
  });
</script>